/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: monospace;
    line-height: 1.6;
}
p {
    font-family: Candara, monospace;
    font-size: 20px;
    font-weight:normal;
    color: #000000;
}

a {
    padding-left: 0%;
    padding-right: 3%;
}

.main_page_container {
    width: 80%;
    margin: auto;
    padding-top: 5%;
    padding-left: 0%;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 1%;
    padding-left: 0%;
}
.banner {
    padding-top: 5%;
    padding-left: 0%;
}

#topic_name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight:bolder;
    color: #2c2a4a80;
}

#section {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight:bolder;
    color: #bc4b5195;
}

pre {
	padding: 0;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 15px;
	line-height: 20px;
	background: #E4E2DA;
        font-family: "Lucida Console", Courier, monospace;
	
}
pre code {
}
